footer.page-footer
  p
    small
      a(href='#') maidanpower.org
      | &nbsp;© 2014
  p
    small
      | Powered by&nbsp;
      a(href='http://foundation.zurb.com/', target='blank_') Foundation
      | &nbsp;front-end framework and&nbsp;
      a(href='http://wintersmith.io/', target='blank_') Wintersmith
      | &nbsp;static website generator. Website source code is available on&nbsp;
      a(href='https://github.com/europrapor/maidanpower', target='blank_') GitHub
      | .
