footer.page-footer
  p
    small
      a(href='#') maidanpower.org
      | © 2014
  p
    small
      | Powered by
      a(href='http://foundation.zurb.com/', target='blank_') Foundation
      | front-end framework and
      a(href='http://wintersmith.io/', target='blank_') Wintersmith
      | static website generator. Website source code is available on
      a(href='https://github.com/europrapor/maidanpower', target='blank_') GitHub
      | .
