header.page-header
  .row
    nav.top-bar.offcanvas(data-topbar='data-topbar')
      ul.title-area
        li.name
          h1
            a(href='/') MaidanPower
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        //Right Nav Section
        ul.right
          li
            a(href='#') Contacts
        //Left Nav Section
        ul.left
          li
            a(href='#') Euromaidan
          li
            a(href='#') Application
          li
            a(href='#') News
          li
            a(href='/about.html') About
