extends layout

block map
  section.map-container
    #map

block content
  section.content.center
    .row
      .large-8.large-centered.columns
        h3 MaidanPower
        p
          | We have designed a web application which allows everyone to contribute to
          a(href='https://twitter.com/search?q=%23euromaidan') #euromaidan
          | movement using digital tools and to help each other by having a feedback about the mood around us.
        a.button.small(href='#') Learn More

block open-layers
  script(src='scripts/vendor/OpenLayers.js')
  script.
    /* global OpenLayers */
    var map = new OpenLayers.Map('map', {theme: null}),
        pointLayer = new OpenLayers.Layer.Vector('Point Layer');

    $.get('http://devel.api.maidanpower.org/map', function (res) {
      drawRecentCheckins(res);
    });

    function drawRecentCheckins (data) {
      for (var i = 0; i < data.length; i++) {
        var checkin = new OpenLayers.LonLat(data[i].position.lg, data[i].position.lt)
          .transform(
            new OpenLayers.Projection('EPSG:4326'),
            map.getProjectionObject()
          );

        var pointGeometry = new OpenLayers.Geometry.Point(checkin.lon, checkin.lat),
            point = new OpenLayers.Feature.Vector(pointGeometry);

        pointLayer.addFeatures([point]);
      }
    }

    map.addLayers([new OpenLayers.Layer.OSM(), pointLayer]);
    map.zoomToMaxExtent();
    map.setCenter(new OpenLayers.LonLat(-78271.516953204, 5518141.9451953));
